
input.ng-invalid.ng-dirty{
    border-color: red;
    border-width: 3px;
    animation: changeColor 2s ease-in-out forwards infinite;
}

@keyframes changeColor{
    0%{
        border-color: red;
    }
    33%{
        border-color: yellow;
    }
    66%{
        border-color: orange;
    }
    100%{
        border-color: red;
    }
}

input.ng-valid.ng-dirty{
    border-color: lightgreen;
    border-width: 2.5px;
}

div.form button:disabled{
    cursor: no-drop;
    background: rgba(0,0,0,0.3);
    color: rgba(255,255,255,1);
}

span{
    color: red;
    font-weight: 700;
    font-size: 18px
}
form{
    text-align: center;
}

form label{
    margin: 2.5% 0;
    display: block;
    font-size: 20px;
    font-weight: 500;
}

form label i{
    cursor: pointer;
    animation: moveEye 5s ease-in-out infinite;
    margin-left: 1%;
}

@keyframes moveEye{
    0%{
        transform: scale(1,1) rotate(0deg);
    }
    5%{
        transform: scale(1.5,1.5) rotate(0deg);
    }
    10%{
        transform: scale(1.5,1.5) rotate(15deg);
    }
    12.5%{
        transform: scale(1.5,1.5) rotate(0deg);
    }
    15%{
        transform: scale(1.5,1.5) rotate(-15deg);
    }
    20%{
        transform: scale(1,1) rotate(0deg);
    }
    100%{
        transform: scale(1,1) rotate(0deg);
    }
}

form input[type="submit"],button{
    border:none;
    border-radius: 3px;
    padding: 1% 1.5%;
    font-size: 18px;
    font-weight: 500;
    background:black;
    color: white;
    cursor: pointer;
    margin: 0 1.5%;
}

form input[type="submit"]:disabled{
    background:rgba(0,0,0,0.3);
    cursor: no-drop;
}

button.red{
    background-color: #f44336;
}