<div *ngIf="!blogArrived" class="bimage">
  <img src="../../../assets/images/loader.gif" alt="Loading...">
</div>

<div *ngIf="blogArrived" class="blog">
  <div *ngFor="let item of blogs;let i=index" class="row closepar">
    <span *ngIf="currentUser==item.userName" class="close" (click)="removeBlog(item)"> <i class="fa fa-trash" style="cursor:pointer" aria-hidden="true"></i></span>
    <div class="col-12 col-sm-12">  
      <h4>{{item.userName}}</h4>
      <h6>{{item.time | date}}</h6>
    </div>

    <div class="col-12 col-sm-12" style="margin-top:2%">
      <p style="margin-bottom:0;"><b>{{item.name}}</b></p>
    </div>
    <div class="col-12 col-sm-12 bimage2">
      <img src={{item.image}} alt={{item.name}}>
    </div>

    <div class="col-12 col-sm-12"> 
      <p>{{item.desc}}</p>
    </div>

    <div class="col-12 col-sm-12 row">
      <div class="col-6 col-sm-6">
        <button [ngClass]="item.isLiked?'liked':null" (click)="like(item,item.isLiked)"><b>Like <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></b> <span class="hover">{{item.likes}}</span></button>
      </div>

      <div class="col-6 col-sm-6">
        <button  data-toggle="modal" data-target="#exampleModal" (click)="emptyFormArray();fillComment(item)"><b>Comment <i class="fa fa-comments-o" aria-hidden="true"></i></b> <span class="hover">{{item.comments.length}}</span></button>  
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
                  <button type="button" class="close" (click)="emptyFormArray()" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-data" style="padding: 1% 2%">
                <div *ngIf="item.comments.length>0">
                <div *ngFor="let comment of allComments" class="modal-body row" style="padding: 1% 0">
                  <div class="col-sm-4 col-4">  
                  <h6>{{comment.name}}</h6>  
                </div>
                <div class="col-sm-7 col-7" style="text-align: left">
                  <p>{{comment.comment}}</p>
                </div>
                <div class="col-1 col-sm-1" *ngIf="checkIdentity(comment)">
                    <i class="fa fa-trash" style="cursor:pointer" (click)="removeComment(item.blogId,i,comment.comment)" aria-hidden="true"></i>
                </div>
              <hr>
            </div>
                <form [formGroup]="frm" novalidate>
                <div formArrayName="comment">
                
                  <div *ngFor="let array of frm.get('comment').controls;let j=index"  class="row">
                    <div class="col-sm-4 col-4">
                      <h6>Add Comment : </h6>
                    </div>
                    <div class="col-sm-8 col-8">
                    <input type="text" class="commentStyle" placeholder="Enter your comment" [formControlName]="j">
                  </div>
                  </div>
                
              </div>
            </form>  
              </div>
                <div *ngIf="item.comments.length==0"> 
                  <p>No comments.</p>
                </div>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" (click)="addForm(i)">Add Comment</button>
                  <button type="button" class="btn btn-primary" (click)="addComment(item.blogId,i)">Save changes</button>
                </div>
              </div>
            </div>
          </div>  
      </div>
    </div>
    <hr>
  </div>
</div>